  <!-- <ion-header>
      <ion-toolbar>
        <ion-buttons start>
          <button ion-button icon-only color="royal" (click)="search()" >
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title>Send To...</ion-title>
        <ion-buttons end>
          <button ion-button icon-only color="royal" (click)="addItem()">
            <ion-icon name="person-add"></ion-icon>
          </button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header> -->
    
    <ion-header>
        <ion-navbar>
          <ion-buttons start>
            <button ion-button icon-only>
              <ion-icon name="contact"></ion-icon>
            </button>
          </ion-buttons>
          <ion-navbar>
              <button ion-button menuToggle icon-only>
                <ion-icon name='menu'></ion-icon>
              </button>
              <ion-title>
                Home
              </ion-title>
            </ion-navbar>
          <ion-buttons end>
            <button ion-button icon-only (click)="searchData()">
              <ion-icon name="search"></ion-icon>
            </button>
          </ion-buttons>
          <ion-buttons end>
              <button ion-button icon-only (click)="goSetting()" > 
                <ion-icon name="more"></ion-icon>
              </button>
            </ion-buttons>
        </ion-navbar>
      </ion-header>

   
<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.about}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div class="container">
  
    <input type="checkbox" id="actionMenuButton"/>
    
    <div class="actions-menu">
      
      <button class="btn btn--share" (click)="goSetting()" >
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="#ffffff" d="M21,11L14,4V8C7,9 4,14 3,19C5.5,15.5 9,13.9 14,13.9V18L21,11Z" />
        </svg>    
      </button>
      <button class="btn btn--star"  (click)="searchData()" >
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="#ffffff" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
        </svg>
      </button>
      <button class="btn btn--comment" (click)="goToAdd()" >
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="#ffffff" d="M19,3A2,2 0 0,1 21,5V19C21,20.11 20.1,21 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H19M16.7,9.35C16.92,9.14 16.92,8.79 16.7,8.58L15.42,7.3C15.21,7.08 14.86,7.08 14.65,7.3L13.65,8.3L15.7,10.35L16.7,9.35M7,14.94V17H9.06L15.12,10.94L13.06,8.88L7,14.94Z" />
        </svg>
      </button>
      <label for="actionMenuButton" class="btn btn--large btn--menu"> </label>
      
      
    </div>
    
  </div>
</ion-content>